# CORE
# ENVIRONMENT=non-prod
# DEBUG=1
# SECRET_KEY=django-insecure-change-me-in-production

#DATABASE
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=gestaofrotas
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=db
# DB_PORT=5432

#EMAIL
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=sh-pro102.hostgator.com.br
# EMAIL_HOST_USER=suporte@pubye.info
# EMAIL_HOST_PASSWORD=kHM66HArRkNK7pgU@