# CORE
ENVIRONMENT=non-prod
DEBUG=1
SECRET_KEY=django-insecure-change-me-in-production

#DATABASE
DB_ENGINE=django.db.backends.postgresql
DB_NAME=gestaofrotas
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432