{% extends "registration/base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Login - Gestão de Frotas" %}
{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}

  <!-- Formulário de Login -->
  <form method="post">
    {% csrf_token %}
    {% if form.errors %}
      <div class="alert alert-danger py-2 small">
        {% bs_icon 'exclamation-circle' extra_classes='me-2' %}{% trans "Credenciais inválidas." %}
      </div>
    {% endif %}

    <div class="mb-3">
      <label class="form-label small text-secondary fw-bold">{% trans "E-MAIL" %}</label>
      <div class="input-group">
        <span class="input-group-text">{% bs_icon 'envelope' extra_classes='text-secondary' %}</span>
        <input type="email" name="username" class="form-control" placeholder="{% trans "user@example.com" %}" required autofocus />
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label small text-secondary fw-bold">{% trans "SENHA" %}</label>
      <div class="input-group">
        <span class="input-group-text">{% bs_icon 'lock' extra_classes='text-secondary' %}</span>
        <input type="password" name="password" class="form-control" placeholder="••••••••" required id="id_password"/>
        <button class="btn btn-outline-white" type="button" id="togglePassword" style="border-left: none; border-color: #e1e1e1; background-color: #f8f9fa;">
          <span id="icon-eye">{% bs_icon 'eye' %}</span>
          <span id="icon-eye-slash" class="d-none">{% bs_icon 'eye-slash' %}</span>
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rememberMe" />
        <label class="form-check-label small text-secondary" for="rememberMe">{% trans "Lembrar-me" %}</label>
      </div>
      <a href="{% url 'password_reset' %}" class="small text-decoration-none fw-bold">{% trans "Esqueceu a senha?" %}</a>
    </div>

    <button type="submit" class="btn btn-primary w-100 btn-login">
      {% bs_icon 'box-arrow-in-right' size='1.5rem' extra_classes='me-1' %} 
      {% trans "Acessar Sistema" %}
    </button>
  </form>
  
{% endblock content %}

{% block extra_js %}

  <script>
    document.getElementById('togglePassword').addEventListener('click', function (e) {
      const password = document.getElementById('id_password');
      const iconEye = document.getElementById('icon-eye');
      const iconEyeSlash = document.getElementById('icon-eye-slash');

      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      
      iconEye.classList.toggle('d-none');
      iconEyeSlash.classList.toggle('d-none');
    });
  </script>
  
{% endblock extra_js %}
