{% extends "registration/base.html" %}
{% load i18n %}
{% load bootstrap_icons %}

{% block title %}{% trans "Senha Alterada - Gestão de Frotas" %}{% endblock %}

{% block content %}
<div class="text-center mb-4">
    <div class="text-success mb-3">
        {% bs_icon 'shield-check' size='3rem' %}
    </div>
    <h3 class="fw-bold text-primary">{% trans "Sucesso!" %}</h3>
</div>

<div class="alert alert-success border-0 bg-success-subtle text-success-emphasis text-center" role="alert">
    {% trans "Sua senha foi alterada com sucesso. Você já pode fazer login com sua nova credencial." %}
</div>

<div class="text-center mt-4">
    <a href="{% url 'login' %}" class="btn btn-primary w-100 py-2 fw-bold">
       {% bs_icon 'box-arrow-in-right' size='1.5rem' extra_classes='me-1' %} 
       {% trans "Fazer Login Agora" %}
    </a>
</div>
{% endblock %}
